input::-webkit-input-placeholder {
    text-align: center;
}

div#ingreso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#ingreso input {
    width: 70%;
    font-weight: 400;
    font-size: large;
}

div#ingreso button {
    width: 15%
}

div.tabla {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

table {
    border: black 2px solid;
    width: 50%;
    font-weight: 600;
    font-size: large;
}

thead th {
    border: black 2px solid;
    border-collapse: collapse;
}

tbody tr td.done {
    font-family: Poppins;
    font-style: italic;
    font-weight: 200;
    font-size: large;
}

button#boton-tarea {
    color: rgb(0, 0, 0);
}

div.modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    border: 1px solid #9999;
}

div.card-modal {
    background-color: white;
}

.invertir {
    background-color: rgb(0, 0, 0);
    img {
        filter: invert(100%);
    }
    input::-webkit-input-placeholder {
        background-color: rgb(0, 0, 0);
    }
    div#ingreso input {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
    table {
        border: rgb(255, 255, 255) 2px solid;
        color: rgb(255, 255, 255)
    }
    thead th {
        border: rgb(255, 255, 255) 2px solid;
        color: rgb(255, 255, 255);
    }
    button#boton-tarea {
        color: rgb(255, 255, 255);
    }
    /*CSS del modal*/
    h2,
    p {
        color: rgb(255, 255, 255);
    }
    div.modal {
        background: rgba(255, 255, 255, 0.5);
        z-index: 10000;
        border: 1px solid rgba(253, 251, 251, 0.6);
    }
    div.card-modal {
        width: 60%;
        background-color: rgb(255, 255, 255);
    }
}


/*-------------dark mode--------------*/


/*
input::-webkit-input-placeholder {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

div#ingreso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#ingreso input {
    width: 70%;
    font-weight: 400;
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

div#ingreso button {
    width: 15%
}

div.tabla {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

table {
    border: rgb(255, 255, 255) 2px solid;
    width: 50%;
    font-weight: 600;
    font-size: large;
    color: rgb(255, 255, 255);
}

thead th {
    border: rgb(255, 255, 255) 2px solid;
    border-collapse: collapse;
}

tbody tr td.done {
    font-family: Poppins;
    font-style: italic;
    font-weight: 200;
    font-size: large;
    color: rgb(255, 255, 255);
}

button#boton-tarea {
    color: rgb(255, 255, 255);
}
*/