<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
<header>
    <div>
        <app-modo-nocturno (EventoModoOscuro)=onEventoModoOscuro($event)></app-modo-nocturno>
    </div>
    <picture>
        <source media="(max-width: 650px)" srcset="assets/HOY!.svg" height="80">
        <source media="(min-width: 800px)" srcset="assets/LOGO_HOY!.svg" height="110">
        <img src="assets/LOGO_HOY!.svg" alt="LOGO" height="110">
    </picture>
    <div>
        <button id="ayuda" class="btn" (click)="mostrarAyuda()"><img src="assets/BOTON_ayuda_positivo.svg" width="60" height="75"></button>
    </div>
</header>
<div id="cuerpo">
    <div id="ingreso">
        <div class="col-3"><button class="btn" type="button" (click)="borrar_listado()"> <img src="assets/basura_abierta.svg " width="100" height="100" alt="basura_todo"></button></div>
        <input type="text" class="form-control" AutoFocusInputDirective placeholder="INGRESA TU TAREA AQUÍ" [(ngModel)]="newTarea" (keyup)="$event.keyCode == 13 ? saveToDo() : null" autofocus>
        <div class="col-3"><button class="btn" type="button" id="boton-tarea" (click)="saveToDo()"><img src="assets/mas_grande_positivo.svg"width="100" height="100" alt="agregar"></button></div>
    </div>
    <app-intrucciones></app-intrucciones>
    <div *ngIf="tareas.length > 0" class="tabla">
        <table>
            <thead>
                <th colspan="3">LISTADO</th>
            </thead>
            <tbody>
                <tr *ngFor="let todo of tareas; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td class="{{(todo.isCompleted)?'done' :''}}" (click)="hecho(i)">{{todo.name}}</td>
                    <td (click)="quitar(i)"><button id="trash" class="btn"><img src="assets/basura_cerrada_positivo.svg" width="18" alt="basura"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
