table {
    border: black 2px solid;
}

thead th {
    border: black 2px solid;
}

button#boton-tarea {
    color: rgb(0, 0, 0);
}


/*CSS del modal*/

div.modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    border: 1px solid #9999;
}

div.card-modal {
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
}
