<div *ngIf="modalSwitch" id="pantallaModal">
    <div class="modal">
        <div class="card-modal">
            <div class="bodyModal">
                <div class="iconos">
                    <img src="assets/ayuda_positivo.png" alt="ayuda">
                </div>
                <h2>Como usar esta app:</h2>
                <p>1- Ingrese la tarea a realizar y presione <strong>ENTER</strong> o el boton &nbsp;&nbsp; <img src="assets/mas_positivo.png" alt="agregar"></p>
                <p>2- Cuando la tarea esté realizada, clickee sobre la misma y ésta se tachará</p>
                <p>3- Para eliminar la tarea, haga click en el botón <img src="assets/minibasura_cerrada.png" alt="agregar"></p>
                <p>Si deseas borrar todo el contenido del listado, haz click en el botón de &nbsp;&nbsp;<img src="assets/chica_basura_abierta.png" alt="agregar"></p>
                <button (click)="ocultar()"><img src="assets/SALIR_POSITIVO.png" alt="SALIR"></button>
            </div>
        </div>
    </div>
</div>
