<div class="modal" *ngIf="modalSwitch">
    <div class="iconos">
        <img src="assets/ayuda_positivo.png" alt="ayuda">
        <button (click)="ocultar()">X</button>
    </div>
    <h2>Como usar esta app:</h2>
    <p>1- Ingrese la tarea a realizar y presione el boton <strong>agregar</strong></p><br>
    <p>2- Cuando la tarea esté realizada, clickee sobre la misma y ésta se tachará</p><br>
    <p>3- Para eliminar la tarea, haga click en el botón <strong>x</strong></p><br>
    <p>Si deseas borrar todo el contenido, haz click en el botón de <strong>BORRAR TODO</strong></p><br>
</div>
