/* You can add global styles to this file, and also import other style files */


/*Instalación de Bootstrap*/

@import "~bootstrap/scss/bootstrap";
.done {
    text-decoration: line-through;
}

body {
    background-color: #ffff;
}

header {
    margin: 10px;
    display: flex;
    align-items: center;
}